<ion-view view-title="Artistas" ng-init="list()">

  <ion-nav-buttons side="primary">
    <a href="#/tab/artists/new" class="button icon-right ion-plus-circled"></a>      
  </ion-nav-buttons>

  <ion-nav-buttons side="left">
    <a href="#/logout" class="button icon-right ion-log-out"></a>
  </ion-nav-buttons>

  <ion-content>
    
    <ion-spinner ng-show="!ready && !error" class="spinner-positive centered-spinner"></ion-spinner>
    
    <ion-refresher pulling-text="Refrescar..." on-refresh="list()"></ion-refresher>

    <div ng-if="error" class="error item-icon-left"><i class="ion-close-circled"></i> {{message}}</div>
    
    <ion-list ng-show="ready && !error">

      <ion-item ng-repeat="artist in artists" href="#/tab/artists/{{artist.id}}" class="item-icon-right">
        <p>{{ artist.name }}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="destroy(artist.id)">
          Eliminar
        </ion-option-button>

      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>