<ion-view view-title="Inicio">
  <ion-content class="padding">

    <h2>Albums musicales</h2>
    <p>
      Esta app esta hecha como una demostraci&oacute;n de la facilidad de Ionic para el desarrollo de Aplicaciones Hibridas
    </p>
    <p>
      Fue desarrollada para el curso de Laravel + Ionic, dirigido a la empresa <a href="http://webstyc.com.ve/" target="_blank">Webstyc C.A</a>
    </p>
    <p>
      Puede obtener el codigo fuente desde github en la siguiente direcci&oacute;n:
      <a href="https://github.com/wchopite/music.mobile.v1.git" target="_blank">
        https://github.com/wchopite/music.mobile.v1
      </a>
    </p>
  </ion-content>
</ion-view>
