<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Inicio" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view> 
  </ion-tab>

  <!-- Genders Tab -->
  <ion-tab title="Generos" icon-off="ion-ios-recording-outline" icon-on="ion-ios-recording" href="#/tab/genders">
    <ion-nav-view name="tab-genders"></ion-nav-view>
  </ion-tab>

  <!-- Artists Tab -->
  <ion-tab title="Artistas" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/artists">
    <ion-nav-view name="tab-artists"></ion-nav-view>
  </ion-tab>

  <!-- Album Tab -->
  <ion-tab title="Albums" icon-off="ion-ios-cog-outline" icon-on="ion-ios-cog" href="#/tab/albums">
    <ion-nav-view name="tab-albums"></ion-nav-view>
  </ion-tab>

  <!-- User Tab -->
  <ion-tab title="Usuarios" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/users">
    <ion-nav-view name="tab-users"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <!-- 
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
  -->

  <!-- Account Tab -->
  <!-- 
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  -->

</ion-tabs>
