<ion-view view-title="Usuarios" ng-init="list()">
  <ion-content>
    
    <ion-spinner ng-show="!ready && !error" class="spinner-positive centered-spinner"></ion-spinner>
    
    <ion-refresher pulling-text="Refrescar..." on-refresh="list()"></ion-refresher>

    <div ng-if="error" class="error item-icon-left"><i class="ion-close-circled"></i> {{message}}</div>
    
    <!-- <div class="row" > -->
      <div class="col" ng-if="ready && !error">
        <a href="#/tab/users/new" 
        class="button button-clear icon-right ion-plus-circled button-balanced">
            Nuevo
        </a>
      </div>
    <!-- </div> -->

    <ion-list ng-show="ready && !error">

      <ion-item ng-repeat="user in users" href="#/tab/users/{{user.id}}" class="item-icon-right">
        <p>{{ user.name }}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="destroy(user.id)">
          Eliminar
        </ion-option-button>

      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>