<ion-view view-title='Nuevo Album'>
  <ion-content>
    
    <form novalidate>

      <div class="row">
        <div class="col">
          <ion-spinner ng-show="!noReady && !error" class="spinner-positive centered-spinner">            
          </ion-spinner>
        </div>
      </div>

       <ion-pane>
         <ion-content>     
          <img ng-src="{{pathForImage(image)}}" style="width: 100%; height: 100%;">

        <button class="button icon-left ion-camera" ng-click="loadImage()">Take Photo</button>
        <button class="button icon-left ion-upload" ng-click="uploadImage()" ng-disabled="image === null">Upload</button>
      
    </ion-content>
    
  </ion-pane>

      <!-- successful -->
      <div class="row" ng-show="success">
        <div class="col">
          <div class="success item-icon-left"><i class="ion-ios-checkmark"></i> Registro almacenado satisfactoriamente</div>
        </div>
      </div>

      <!-- error -->
      <div class="row" ng-show="!noReady && error">
        <div class="col">
          <div class="error item-icon-left"><i class="ion-close-circled"></i> {{status}}<br/>{{message}}</div>
        </div>
      </div>

      <div class="row padding">
        <div class="col col-50 responsive-sm">
          <a href="#/tab/albums" class="button button-block button-assertive">
            Cancelar
          </a>
        </div>
        <div class="col col-50">
          <button ng-disabled="false" type="submit" ng-click="create(album)" class="button button-block button-balanced">
            Enviar
          </button>
        </div>
      </div>
    </form>

  </ion-content>
</ion-view>