<ion-view view-title='Nuevo Album'>
  <ion-content>
    
    <form novalidate>

      <div class="row">
        <div class="col">
          <ion-spinner ng-show="noReady && !error" class="spinner-positive centered-spinner">            
          </ion-spinner>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Nombre</span>
              <input type="text" placeholder="Licencia para ser libre" ng-model="album.name" required>
            </label>
            <label class="item item-input item-select">
              <div class="input-label">Genero musical</div>
              <select ng-init="getGenders()" ng-model="album.gender_id" 
              ng-options="gender.id as gender.name for gender in genders"></select>
            </label>
            <label class="item item-input item-select">
              <div class="input-label">Artista</div>
              <select ng-init="getArtists()" ng-model="album.artist_id" 
              ng-options="artist.id as artist.name for artist in artists"></select>
            </label>            
            <label class="item item-input item-stacked-label">
              <span class="input-label">A&ntilde;o</span>
              <input type="number" placeholder="2011" ng-model="album.year" required>
            </label>
          </div>
        </div>
      </div>

      <!-- successful -->
      <div class="row" ng-show="success">
        <div class="col">
          <div class="success item-icon-left"><i class="ion-ios-checkmark"></i> Registro almacenado satisfactoriamente</div>
        </div>
      </div>

      <!-- error -->
      <div class="row" ng-show="!noReady && error">
        <div class="col">
          <div class="error item-icon-left"><i class="ion-close-circled"></i> {{status}}<br/>{{message}}</div>
        </div>
      </div>

      <div class="row padding">
        <div class="col col-50 responsive-sm">
          <a href="#/tab/albums" class="button button-block button-assertive">
            Cancelar
          </a>
        </div>
        <div class="col col-50">
          <button ng-disabled="false" type="submit" ng-click="create(album)" class="button button-block button-balanced">
            Enviar
          </button>
        </div>
      </div>
    </form>

  </ion-content>
</ion-view>