<ion-view view-title="Albums musicales" ng-init="list()">

  <ion-nav-buttons side="primary">
    <a href="#/tab/albums/new" class="button icon-right ion-plus-circled"></a>      
  </ion-nav-buttons>

  <ion-nav-buttons side="left">
    <a href="#/logout" class="button icon-right ion-log-out"></a>
  </ion-nav-buttons>

  <ion-content>

    <ion-spinner ng-show="!ready && !error" class="spinner-positive centered-spinner">
    </ion-spinner>   
    
    <ion-refresher pulling-text="Refrescar..." on-refresh="list()"></ion-refresher>

    <div ng-if="error" class="error item-icon-left"><i class="ion-close-circled"></i> 
    {{message}}</div>    

    <ion-list ng-show="ready && !error">

      <ion-item ng-repeat="album in albums" 
      href="#/tab/albums/{{album.id}}" 
      class="item-icon-right item-thumbnail-left">
        <img ng-src="{{ urlBackend+album.path }}?r={{ random }}">
        <h2 class="album-title">{{ album.name }}</h2>
        <p>{{ album.artist.name }} - {{ album.year }}</p>
        <p>{{ album.gender.name }}</p>
        <p><span am-time-ago="album.updated_at"></span>
        </p>
        
        <i class="icon ion-chevron-right icon-accessory">          
        </i>

        <ion-option-button class="button-assertive" 
        ng-click="destroy(album.id)">
          Eliminar
        </ion-option-button>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>