<ion-view ng-init="show(id)" view-title='Actualizar Album Musical'>
  <ion-content>
    
    <form novalidate>

      <div class="row" ng-show="noReady && !error">
        <div class="col">
          <ion-spinner class="spinner-positive centered-spinner">            
          </ion-spinner>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="list card">

            <label class="item item-input item-select">
              <div class="input-label">
                Artista
              </div>
              <select ng-model="album.artist_id" ng-init="getArtists()" 
                ng-options="artist.name for artist in artists track by artist.id"></select>
              
            </label>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Nombre</span>
              <input type="text" placeholder="Cambie de Nombre" ng-model="album.name" required>
            </label>

            <label class="item item-input item-stacked-label">
              <span class="input-label">A&ntilde;o</span>
              <input type="number" ng-model="album.year" required>
            </label>

            <label class="item item-input item-select">
              <div class="input-label">
                Genero musical
              </div>
              <select ng-init="getGenders()" ng-model="album.gender_id" ng-options="gender.id as gender.name for gender in genders">
              </select>
            </label>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Descripci&oacute;n</span>
              <textarea rows="6" ng-model="album.description"></textarea>
            </label>
            
            <button class="item item-icon-left royal" ng-click="loadImage()">
              <i class="icon ion-camera"></i>
              Agregar imagen
            </button>

            <div class="item item-image" ng-if="image != null">
              <img ng-src="{{pathForImage(image)}}" />
            </div>
          </div>          
        </div>
      </div>

      <!-- successful -->
      <div class="row" ng-show="success">
        <div class="col">
          <div class="success item-icon-left"><i class="ion-ios-checkmark"></i> Registro almacenado satisfactoriamente</div>
        </div>
      </div>

      <!-- error -->
      <div class="row" ng-show="!noReady && error">
        <div class="col">
          <div class="error item-icon-left"><i class="ion-close-circled"></i> {{status}}<br/>{{message}}</div>
        </div>
      </div>

      <div class="row padding">
        <div class="col col-50 responsive-sm">
          <a href="#/tab/albums" class="button button-block button-assertive">
            Cancelar
          </a>
        </div>
        <div class="col col-50">
          <button ng-disabled="false" type="submit" ng-click="create(album)" class="button button-block button-balanced">
            Enviar
          </button>
        </div>
      </div>
    </form>

  </ion-content>
</ion-view>